.ant-layout-content,.ant-layout-footer{
    padding: 0;
    margin:0!important;
    &>div{
        padding:0!important;
        margin:0!important;
    }
}
.weather{
    width:100%;
    height: calc(100vh-10px);
    background: #000;
    word-wrap: none;
    color:#fff;
    overflow-x: scroll;
    white-space: nowrap;
}
.weatherLeft{
    height:100vh;
    display: inline-block;
    min-width:800px;
    width:40%;
    // border:1px solid #fff;
}
.weatherRight{
    min-width:1200px;
    width:60%;
    height:100vh;
    // border:1px solid #f00;
    display: inline-block;
}
.ant-table-tbody tr td{
    color:#fff;
}
.ant-table-tbody tr:hover td{
    color:#000;
}